<?xml version='1.0'?>
<launch>

<group ns="uav">
	<node pkg="multi_uav" type="linearFlock" 			name="linearFlock" 		output="screen"/>
</group>

<!--
 <group ns="uav2">
	<node pkg="multi_uav" type="linearFlock" 			name="linearFlock" 		output="screen"/>
</group> 

 <group ns="uav3">
	<node pkg="multi_uav" type="linearFlock" 			name="linearFlock" 		output="screen"/>
</group>

 <group ns="uav4">
	<node pkg="multi_uav" type="linearFlock" 			name="linearFlock" 		output="screen"/>
</group>


 <group ns="uav5">
	<node pkg="multi_uav" type="linearFlock" 			name="linearFlock" 		output="screen"/>
</group>
-->
</launch>
